<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<security:http auto-config="true" use-expressions="true">

		<security:intercept-url pattern="/login"
			access="permitAll" />
		<security:intercept-url pattern="/accessDenied"
			access="permitAll" />
		<security:intercept-url pattern="/loginFail"
			access="permitAll" />
		<security:intercept-url pattern="/logout"
			access="permitAll" />

		<security:intercept-url pattern="/resources/**"
			access="permitAll" />
		<security:intercept-url pattern="/**"
			access="hasRole('ROLE_ADMIN')" />

		<security:access-denied-handler
			error-page="/accessDenied" />

		<security:form-login login-page="/login"
			default-target-url="/home" always-use-default-target="true"
			authentication-failure-url="/loginFail" username-parameter="username"
			password-parameter="password" />

		<security:logout logout-success-url="/logout" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider
			user-service-ref="loginService">
		</security:authentication-provider>
	</security:authentication-manager>
</beans>